/*--------------------------------header--------------------------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    background: url(Screenshot_13.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}

.Logo{
  position: absolute;
  top: 3%;
  left: 5%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat right center;
  background-size: cover; }

.wrapper__checkbox {
  display: none; }

.wrapper__checkbox:checked ~ .wrapper__menu {
  right: 0; }

.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px; }

.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
  opacity: 0; }

.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -6px; }

.wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1; }

.wrapper__button-line {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: #000;
  margin: 2px 0;
  position: relative;
  -webkit-transition: all .1s linear 0.2s;
  -o-transition: all .1s linear 0.2s;
  transition: all .1s linear 0.2s; }

.wrapper__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 500px;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 100px 40px 40px;
  -webkit-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s;
  border-bottom-left-radius: 100px; }

.wrapper__menu-link {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 5px 10px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .wrapper__menu-link:hover {
    padding-right: 20px; }

    .s_box{
      position: absolute;
      top: 3%;
      left: 1%;
    }

    .container .input{
      border: 0;
      outline: none;
      color: black;
    }
    
    .search_wrap{
      width: px;
      margin: 150px auto; 
    }
    
    .search_wrap .search_box{
      position: relative;
      width: 892px;
      height: 95px;
    }
    
    .search_wrap .search_box .input{
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      height: 60%;
      padding: 10px 20px;
      border-radius: 23px;
      font-size: 18px;
      background: rgba(255, 255, 255, 0.7);
    }
    
    .search_wrap .search_box .butn{
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      background:  #0D606F;
      z-index: 1;
      cursor: pointer;
    }
    
    .search_wrap.search_wrap_5 .search_box .butn{
      width: 128px;
      height: 50px;
      top: 15px;
      right: 340px;
      border-radius: 16px;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Red Hat Text', sans-serif;
    }
    
    .search_wrap.search_wrap_5 .search_box .input{
      padding-right: 145px;
    }
    /*--------------------------------main--------------------------------*/
    .HIW{
      position: absolute;
      left: 0%;
      top: 45%;
    }
    .h-m{
      position: absolute;
      width: 214px;
      height: 19px;
      left: 200px;
      top: px;
      
      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */
      
      
      color: #F2785C;
    }
    
    .frame1{
      position: absolute;
    }
    .rect1{
      position: absolute;
    }
    .vc1{
      position: absolute;
    }

    .frame2{
      position: absolute;
    }
    .rect2{
      position: absolute;
    }
    .vc2{
      position: absolute;
    }

    .frame3{
      position: absolute;
    }
    .rect3{
      position: absolute;
    }
    .vc3{
      position: absolute;
    }
