/*--------------------------------header--------------------------------*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
}
.box{
    background: url(Screenshot_13.png);
    height: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
}

.Logo{
  position: absolute;
  top: 3%;
  left: 5%;
}

.wrapper {
  width: 100%;
  height: 100vh;
  background: url("../img/bg.jpg") no-repeat right center;
  background-size: cover; }

.wrapper__checkbox {
  display: none; }

.wrapper__checkbox:checked ~ .wrapper__menu {
  right: 0; }

.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 8px; }

.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(2) {
  opacity: 0; }

.wrapper__checkbox:checked ~ .wrapper__button .wrapper__button-line:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -6px; }

.wrapper__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1; }

.wrapper__button-line {
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 5px;
  background: #000;
  margin: 2px 0;
  position: relative;
  -webkit-transition: all .1s linear 0.2s;
  -o-transition: all .1s linear 0.2s;
  transition: all .1s linear 0.2s; }

.wrapper__menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 500px;
  background: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  padding: 100px 40px 40px;
  -webkit-transition: right 0.4s;
  -o-transition: right 0.4s;
  transition: right 0.4s;
  border-bottom-left-radius: 100px; }

.wrapper__menu-link {
  font-size: 18px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 5px 10px;
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }
  .wrapper__menu-link:hover {
    padding-right: 20px; }

    .s_box{
      position: absolute;
      top: 3%;
      left: 1%;
    }

    .container .input{
      border: 0;
      outline: none;
      color: black;
    }
    
    .search_wrap{
      width: px;
      margin: 150px auto; 
    }
    
    .search_wrap .search_box{
      position: relative;
      width: 892px;
      height: 95px;
    }
    
    .search_wrap .search_box .input{
      position: absolute;
      top: 0;
      left: 0;
      width: 45%;
      height: 60%;
      padding: 10px 20px;
      border-radius: 23px;
      font-size: 18px;
      background: rgba(255, 255, 255, 0.7);
    }
    
    .search_wrap .search_box .butn{
      position: absolute;
      top: 0;
      right: 0;
      width: 60px;
      height: 100%;
      background:  #0D606F;
      z-index: 1;
      cursor: pointer;
    }
    
    .search_wrap.search_wrap_5 .search_box .butn{
      width: 128px;
      height: 50px;
      top: 15px;
      right: 340px;
      border-radius: 16px;
      color: rgb(255, 255, 255);
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: 'Red Hat Text', sans-serif;
    }
    
    .search_wrap.search_wrap_5 .search_box .input{
      padding-right: 145px;
    }
    /*--------------------------------main--------------------------------*/
    .HIW{
      position: absolute;
      left: 0%;
      top: 45%;
    }
    .h-m{
      position: absolute;
      width: 214px;
      height: 19px;
      left: 200px;
      top: px;
      
      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */
      
      
      color: #F2785C;
    }
    
    .frame1{
      position: absolute;
      top: 60px;
      left: 11px;
    }
    .rect1{
      position: absolute;
      width: 90px;
      height: 90px;
      left: px;
      top: px;
    }
    .vc1{
      position: absolute;
      width: 45px;
      height: 40px;
      top: 25px;
      left: 22px;
    }
    .p1{
      position: absolute;
      width: 94px;
      height: 22px;
      left: 5px;
      top: 100px;

      font-family: 'Aleo';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 12px;
      color: #0D606F;
    }

    .frame2{
      position: absolute;
      top: 60px;
      left: 250px;
    }
    .rect2{
      position: absolute;
      width: 90px;
      height: 90px;
      left: px;
      top: px;
    }
    .vc2{
      position: absolute;
      width: 45px;
      height: 45px;
      top: 22px;
      left: 22px;
    }
    .p2{
      position: absolute;
      width: 94px;
      height: 22px;
      left: 5px;
      top: 100px;

      font-family: 'Aleo';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 12px;
      color: #0D606F;
    }

    .frame3{
      position: absolute;
      top: 60px;
      left: 480px
    }
    .rect3{
      position: absolute;
      width: 90px;
      height: 90px;
      left: px;
      top: px;

    }
    .vc3{
      position: absolute;
      width: 45px;
      height: 40px;
      top: 25px;
      left: 22px;
    }
    .p3{
      position: absolute;
      width: 94px;
      height: 22px;
      left: 5px;
      top: 100px;

      font-family: 'Aleo';
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      line-height: 12px;
      color: #0D606F;
    }

    .sh{
      position: absolute;
      width: 176px;
      height: 19px;
      left: 200px;
      top: 640px;

      font-family: 'Red Hat Text';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 19px;
      /* identical to box height */


      color: #F2785C;
    }
    #slider { /*положение слайдера*/
      position: absolute;
    text-align: center;
    left: calc(60% - 611px/2);
      top: 700px;
  }
  
  #slider{ /*центровка слайдера*/
    margin: 0 auto;
  }
  
  #slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
  }
  
  #slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
  }
  
  #overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 500px;
    overflow: hidden;
  }
  
  article img{ /*размер изображений слайдера*/
    width: 100%;
  }
  
  #desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 960px; /*максимальнная длинна*/
  }
  
  /*настройка переключения и положения для левой стрелки*/
  /*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
  #switch1:checked ~ #controls label:nth-child(5), 
  #switch2:checked ~ #controls label:nth-child(1),
  #switch3:checked ~ #controls label:nth-child(2){
    background: url('prev.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: left;
    margin: 0 0 0 -84px; /*сдвиг влево*/
    display: block;
    height: 68px;
    width: 68px;
  }
  
  /*настройка переключения и положения для правой стрелки*/
  #switch1:checked ~ #controls label:nth-child(2), 
  #switch2:checked ~ #controls label:nth-child(3),
  #switch3:checked ~ #controls label:nth-child(4){
    background: url('next.png') no-repeat; /*заливка фона картинкой без повторений*/
    float: right;
    margin: 0 -84px 0 0; /*сдвиг вправо*/
    display: block;
    height: 68px;
    width: 68px;
  }
  
  label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
  }
  
  .all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
  }
  
  /*позиция изображения при активации переключателя*/
  #switch1:checked ~ #slides .image{
    margin-left: 0;
  }
  
  #switch2:checked ~ #slides .image{
    margin-left: -100%;
  }
  
  #switch3:checked ~ #slides .image{
    margin-left: -200%;
  }
  
  #switch4:checked ~ #slides .image{
    margin-left: -300%;
  }
  
  #switch5:checked ~ #slides .image{
    margin-left: -400%;
  }
  
  #controls{ /*положение блока всех управляющих элементов*/
    margin: -135px 0 0 0;
    width: 100%;
    height: 50px;
  }
  
  #active label{ /*стиль отдельного переключателя*/
    border-radius: 10px; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 15px;
    height: 15px;
    background: rgba(242, 120, 92, 0.5);;
  }
  
  #active{ /*расположение блока с переключателями*/
    position: absolute;
    left: 220px;
    margin: 50px 0 0;
    text-align: center;
  }
  
  #active label:hover{ /*поведение чекбокса при наведении*/
    background: #ffb576;
    border-color: rgba(242, 120, 92, 0.5) !important; /*выполнение в любом случае*/
  }
  
  /*цвет активного лейбла при активации чекбокса*/
  #switch1:checked ~ #active label:nth-child(1),
  #switch2:checked ~ #active label:nth-child(2),
  #switch3:checked ~ #active label:nth-child(3){
    background: #F2785C;
    border-color: #F2785C !important;
  }
  
  #slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
  
  #controls label:hover{ /*прозрачность стрелок при наведении*/
    opacity: 0.6;
  }
  
  #controls label{ /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
  }

/*--------------------------------header--------------------------------*/

.ftr{
  position: absolute;
  top: 1140px;
  left: px;
}

.hh{
  position: absolute;
  width: 200px;
  height: 19px;
  left: 240px;
  top: -50px;
  
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 19px;
  /* identical to box height */  

color: #F2785C;

}

.bg{
  position: absolute;
width: 600px;
height: 960px;
left: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.7);
}

.ft_box{
      position: absolute;
      height: 120vh;
      /*top: 300%;
      width: 100%;*/
      background-repeat: no-repeat;
      background-size: cover;
      background-position:top;
}
.p4{
  position: absolute;
  width: 295px;
  height: 102px;
  left: 265px;
  top: 80px;
  
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  
  color: #0D606F;
}
.p5{
  position: absolute;
  width: 295px;
  height: 102px;
  left: 265px;
  top: 290px;
  
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  
  color: #0D606F;
}
.p6{
  position: absolute;
  width: 295px;
  height: 102px;
  left: 265px;
  top: 500px;
  
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  
  color: #0D606F;
}
.p7{
  position: absolute;
  width: 295px;
  height: 102px;
  left: 265px;
  top: 720px;
  
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 11px;
  
  color: #0D606F;
}
.h1{
  position: absolute;
width: 264px;
height: 13px;
left: 265px;
top: 60px;

font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 13px;

color: #0D606F;

}
.h2{
  position: absolute;
  position: absolute;
width: 264px;
height: 13px;
left: 265px;
top: 270px;

font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 13px;

color: #0D606F;
}
.h3{
  position: absolute;
  position: absolute;
width: 264px;
height: 13px;
left: 265px;
top: 480px;

font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 13px;

color: #0D606F;
}
.h4{
  position: absolute;
  position: absolute;
width: 264px;
height: 13px;
left: 265px;
top: 700px;

font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 13px;

color: #0D606F;
}
.rect_4{
  position: absolute;
  width: 195px;
  height: 170px;
  left: 20px;
  top: 60px;
  
  background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
  filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
}
.rect_5{
  position: absolute;
width: 195px;
height: 170px;
left: 20px;
top: 270px;

background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
filter: drop-shadow(0px 4px 4px #0D606F);
border-radius: 16px;
}
.rect_6{
  position: absolute;
width: 195px;
height: 170px;
left: 20px;
top: 480px;

background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
filter: drop-shadow(0px 4px 4px #0D606F);
border-radius: 16px;
}
.rect_7{
  position: absolute;
width: 195px;
height: 170px;
left: 20px;
top: 700px;

background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
filter: drop-shadow(0px 4px 4px #0D606F);
border-radius: 16px;
}

.soc_media{
  position: absolute;
  top: 990px;
  left: 200px;
}
.inst{
position: absolute;
width: 50px;
top: px;
left: px;
}
.YT{
  position: absolute;
  width: 50px;
  top: 3px;
left: 80px;
}
.TW{
  position: absolute;
  width: 50px;
  top: 3px;
left: 160px;
}